* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}


body {
    display: flex;
    height: 100vh;
    background-color: #f9f9f9;

}


hr{
    border: 1px solid rgba(0, 0, 0, 0.1); 
    margin: 2%;
}

/* main */
.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: calc(100% - 200px);
    margin-left: 200px;
    min-width: 1200px;
    transition: margin-left 0.3s ease; 
}


#wrapper {
    border: 1px solid rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
    margin: 2%; 
    padding: 20px; 

    height: auto;
}
#first-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#first-row h2 {
    margin: 0;
}

.search-container {
    display: flex;
    gap: 0;
}

.input-with-icon {
    position: relative;
}

#first-row input[type="text"] {
    padding: 10px 10px 10px 35px; 
    font-size: 16px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    width: 200px;
    margin-right: 5px;
}

#first-row select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    width: 180px;
}

.input-with-icon i {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%); 
    font-size: 18px; 
    color: #888; 
}

#second-row {
    display: flex; 

    align-items: center; 
    color: #888; 
    white-space: nowrap; 
    padding: 10px; 
}

#second-row p {
    margin-left: 2%; 
    margin-right: 2%;
    width: 200px;
}


.third-row{
    display: flex; 

    align-items: center; 
    white-space: nowrap; 
    padding: 10px; 
}

.third-row p{
    margin-left: 2%;
    margin-right: 2%;
    width: 200px;
}
.third-row > p:nth-child(3){
    margin-left: 2%;
    margin-right: 2%;
    width: 220px;
}
.third-row p{
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    white-space: normal; 
}




/* drop down */
.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
    width: 200px;
    margin-right: 30px; 

}


.dropdown-toggle {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 10px;
}


.dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 160px;
    top: 100%;
    left: 0;
    z-index: 1;
    padding: 5px 0;
}


.dropdown-item {
    padding: 10px;
    cursor: pointer;
    color: black;
    transition: background 0.3s;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}


.dropdown.open .dropdown-menu {
    display: block;
}


